.container {
  padding: 30px;
  border-radius: 10px;
  background-color: #6f5da5;
  color: white;
  height: fit-content;
  max-height: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 36px;
  margin: 0px;
  margin-bottom: 30px;
}

.label {
  opacity: 0.5;
  font-size: 12px;
}

.detailItem {
  display: flex;
  flex-direction: column;
}

.info {
  font-size: 24px;
  margin: 3px 0px;
}

.nameInput {
  font-size: 24px;
  margin-bottom: 30px;
}

.buttonContainer {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  justify-content: flex-end;
}

.button {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
